.yt-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.yt-thumbnail{
    position: relative;
    img{
        width:80%;
    }
}
.timestamp{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    margin: 5px;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 40px 1fr;

}

.channel-profile{
    padding: 7px 10px 0px 3px;
    img{
        width: 32px;
        border-radius: 50px;
    }
}

.video-title{
    margin-top: 5px;
    font-weight: 400;

}

.channel-name, .video-stats{
    color: #606060;
    font-size: 10px;
}

@media screen and (max-width:480px){
    .yt-card-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    } 
}

body{
    font-family: Robota;
}




